.listContainer {
  display: flex;
  li {
    cursor: pointer;
  }
  .userInfo {
    margin-left: 5px;
    font-style: italic;
  }
}

.marked {
  text-decoration: line-through;
}

.delete {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 10px;
}

.edit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-style: italic;
}
